<div class="container flex items-center justify-center flex-1 h-full mx-auto">
  <!-- 検索結果 -->
  <div class="row">
    <div class="col-12">
      <div class="row py-12">
        <h1 class="mb-4 text-2xl font-bold text-center text-black-900">検索結果</h1>
        <%= render 'shared/line_view', lines: @lines %>
      </div>
    </div>
  </div>
</div>