<div class="container flex items-center justify-center flex-1 h-full mx-auto">
  <!-- 路線一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h1 class="mb-4 text-2xl font-bold text-center text-black-900">路線一覧</h1>
        <% if @lines.present? %>
          <%= render @lines %>
        <% else %>
          <p>路線がありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>