<div class="container flex items-center justify-center flex-1 h-full mx-auto">
  <!-- 検索結果 -->
  <div class="row">
    <div class="col-12">
      <h1 class="my-24 text-2xl font-bold text-center text-black-900"><%= t '.title' %></h1>
      <div class="pb-12 flex flex-row flex-wrap justify-center">
        <% if @lines.present? %>
          <%= render @lines %>
        <% else %>
          <div class="text-center">
            <p class="text-md flex justify-center">該当する路線が見つかりませんでした。</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>