<% if logged_in? %>
  <div class="pb-12 grid grid-cols-2">
  <!-- チャットルーム -->
    <%= render 'chat', line: @line %>
  <!-- 路線詳細情報 -->
    <%= render 'line_detail', line: @line %>
  </div>
<% else %>
  <!-- 路線詳細情報 -->
  <div class="max-w-screen-md mx-auto pb-12">
    <%= render 'line_detail', line: @line %>
  </div>
<% end %>