<div class="flex flex-col items-center justify-center my-10">
  <div class="items-center justify-center mb-3">
    <div class="py-1 text-2xl">
      <%= current_user.name %>
    </div>
    <div class="py-7 text-2xl">
      <%= current_user.email %>
    </div>
    <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2">
      <%= link_to (t 'defaults.profile_edit'), edit_profile_path %>
    </button>
  </div>
</div>
<div class="flex justify-center text-3xl mt-28 mb-8">お気に入りの路線</div>
<div class="flex justify-center">
  <hr class="border-t-2 border-gray-10 w-10/12 mb-12">
</div>
<div class="pb-12 flex flex-row flex-wrap justify-center">
  <%= render partial: 'lines/line', collection: @line_likes, as: "line" %>
</div>