<div class="mx-auto">
  <%= form_with model: comment, url: search_result_comments_path(@line.id) do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body, class:"block w-full cursor-auto rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
    <%= f.submit 'コメントする', class:"mt-2 text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 " %>
  <% end %>
</div>
