<%= turbo_frame_tag dom_id(@comment) do %>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <%= render 'comments/form', commentable: @commentable, comment: @comment %>
      <div class="ml-auto">
        <%= link_to 'キャンセル', @commentable, class: 'btn btn-secondary btn-sm float-end mt-1' %>
      </div>
    </div>
  </div>
<% end %>
