<%= link_to like_path(line), id: "show_unlike-button-for-line-#{line.id}", data: { turbo_method: :delete }, class: "ml-4" do %>
  <button class="px-2 py-1 text-lg text-red-500 bg-red-100 border border-red-500 font-semibold rounded"><i class="fa-solid fa-heart text-secondary"></i></button>
<% end %>