<div class="navbar bg-neutral">
  <div class="flex-1">
    <%= link_to 'Train Window Trip', root_path, class: "btn btn-ghost normal-case text-white" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal text-white">
      <li><%= link_to (t 'lines.index.title'), lines_path %></li>
      <li><%= link_to (t 'users.new.title'), new_user_path %></li>
      <li><%= link_to (t 'defaults.login'), login_path %></li>
    </ul>
  </div>
</div>