<footer class="footer footer-center p-6 bg-neutral text-base-content mt-12">
  <div class="grid grid-flow-col gap-4">
    <%= link_to (t 'static_pages.terms_of_service.title') %>
    <%= link_to (t 'static_pages.privacy_policy.title') %>
    <%= link_to (t 'static_pages.contact.title'), 'https://forms.gle/wqF3iU38w3ZFRLG47'%>
  </div> 
  <div>
    <p>Copyright © 2023 - All right reserved by Train Window Trip Ltd</p>
  </div>
</footer>
