<footer class="footer footer-center p-6 bg-neutral text-base-content mt-12">
  <div class="grid grid-flow-col gap-4">
    <%= link_to '利用規約', class: "link link-hove" %>
    <%= link_to 'プライバシーポリシー', class: "link link-hove" %>
    <%= link_to 'お問い合せ', class: "link link-hove" %>
  </div> 
  <div>
    <p>Copyright © 2023 - All right reserved by Train Window Trip Ltd</p>
  </div>
</footer>
