<footer class="footer footer-center p-6 bg-neutral text-base-content mt-12">
  <div class="grid grid-flow-col gap-4">
    <%= link_to (t 'static_pages.terms_of_service.title'), class: "link link-hove" %>
    <%= link_to (t 'static_pages.privacy_policy.title'), class: "link link-hove" %>
    <%= link_to (t 'static_pages.contact.title'), class: "link link-hove" %>
  </div> 
  <div>
    <p>Copyright © 2023 - All right reserved by Train Window Trip Ltd</p>
  </div>
</footer>
