<div class="navbar bg-neutral">
  <div class="flex-1">
    <%= link_to 'Train Window Trip', root_path, class: "btn btn-ghost normal-case text-white" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal text-white">
      <li><a>会員登録</a></li>
      <li><a>ログイン</a></li>
    </ul>
  </div>
</div>