<main class="w-full max-w-md mx-auto p-6 mt-24">
  <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white"><%= t '.title' %></h1>
      </div>
      <div class="mt-5">
        <div class="grid gap-y-4">
          <%= render 'form', { line: @line, room: @room } %>
        </div>
      </div>
    </div>
  </div>
</main>