@import "top";
@import "footer";
@import "border";
@import "chat";
@import "youtube_modal";
@import "accordion";
@import "profile";

/* オートコンプリートの候補はページ全体の一番上になる */
ul[data-autocomplete-target="results"] {
  z-index: 1000;
  position: absolute;
  width: 100%; 
}