.chat-room {
  height: 550px;
  width: 80%;
  background-color: #D7EEFF;
  overflow: scroll;
  border: solid;
  border-color: #e5e7eb;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.input-form {
  width: 80%;
}