.chat-room {
  height: 712px;
  width: 500px;
  background-color: #D7EEFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: scroll;
  border: solid;
  border-color: #e5e7eb;
}
.input-group {
  width: 500px;
}