.chat-room {
  height: 720px;
  width: 80%;
  background-color: #D7EEFF;
  overflow: scroll;
  border: solid;
  border-color: #e5e7eb;
}
.input-group {
  width: 500px;
}

.input-form {
  width: 80%;
}