/* モーダル用のCSS */
#youtubeModal {
  background-color: black;
}

body.modal-open {
  overflow: hidden;
}

/* ポップアップ用のCSS */
.background-selected {
  border: 3px solid blue;
}

/* ポップアップのサイズ指定 */
.w-600px {
  width: 600px;
}

.h-400px {
  height: 400px;
}

 /* モーダルのz-indexより高く設定 */
#backgroundPopup {
  z-index: 60;
}